.navbar {
  display: flex;
  justify-content: space-between;
  padding: 1.4rem 3rem;
  position: fixed;
  width: 100vw;
  display: flex;
  align-items: center;
  z-index: 2;

  & > div {
    min-width: 200px;
  }

  & > .logoDiv {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    cursor: pointer;
    position: relative;

    & > img {
      height: 3.5rem;
    }

    & > .info {
      & > :nth-child(1) {
        font-size: 1.2rem;
        font-weight: 500;
        color: var(--main-font-color);
        text-shadow: 0 0 5px var(--main-font-color),
          0 0 5px var(--main-font-color);
      }

      & > :nth-child(2) {
        font-size: 0.7rem;
        color: var(--content-font-color);
        margin-top: 2.5px;
        text-shadow: 0 0 5px var(--content-font-color),
          0 0 5px var(--content-font-color);
      }
    }
  }

  & > .navigations {
    border: 1px solid #f2f2f21a;
    padding: 0.5rem;
    border-radius: 35px;
    height: max-content;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    background: #f2f2f20d;
    backdrop-filter: blur(15px);
    position: relative;
    margin-left: 3rem;

    & > .currentNav {
      background: rgba(52, 52, 52, 0.7);
    }

    & > .focusLight {
      position: absolute;
      top: -5px;
      height: 3px;
      width: 30px;
      background-color: var(--main-font-color);
      box-shadow: var(--main-font-color) 0 7px 25px 0;
      transition: left 0.3s ease;
      border-radius: 2px;
      z-index: -1;
    }
  }

  & > .links {
    display: flex;
    gap: 0.5rem;

    & > a {
      display: flex;
      align-items: center;
      gap: 0.2rem;
      padding: 0.75rem 1.5rem;
      font-weight: 540;

      & > svg {
        font-size: 1.4rem;
      }

      &:hover {
        background: rgba(52, 52, 52, 0.3);
      }
    }
  }

  & > .linksMobile {
    display: none;
    width: 3.5rem;
    height: 3.5rem;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--border-color);
    border-radius: 50%;
    position: relative;
    background: rgba(242, 242, 242, 0.0509803922);
    backdrop-filter: blur(15px);

    & > div {
      display: flex;
      align-items: center;
      position: relative;

      & > svg {
        color: var(--main-font-color);
        font-size: 1.5rem;
        transition: all linear 0.3s;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }

    & > .linksDropdown {
      position: absolute;
      top: 5rem;
      right: 10px;
      padding: 10px;
      border: 1px solid var(--border-color);
      background: rgb(71, 71, 71);
      backdrop-filter: blur(15px);
      border-radius: 14px;
      flex-direction: column;
      gap: 10px;
      z-index: 3;
      transition: all linear 0.3s;
      overflow: hidden;

      & > a {
        display: flex;
        padding: 0.4rem 1rem;
        font-size: 1.2rem;
        gap: 7px;
      }
    }
  }

  a {
    padding: 0.6rem 1.8rem;
    border-radius: 35px;
    font-size: 0.8rem;
    text-decoration: none;
    color: var(--main-font-color);
    background: #0000;
    transition: all linear 0.3s;

    &:hover {
      text-shadow: 0 0 5px var(--main-font-color),
        0 0 5px var(--main-font-color);
    }
  }
}

@media screen and (max-width: 786px) {
  .navbar {
    padding: 1.4rem 10px;

    & > div {
      min-width: unset;
    }

    & > .logoDiv {
      & > .info {
        display: none;
      }
    }

    & > .navigations {
      margin: 0;
    }

    & > .links {
      display: none;
    }

    & > .linksMobile {
      display: flex;
    }
  }
}
