:root {
  --main-font-color: #f2f2f2;
  --sub-title-font-color: #f2f2f2e6;
  --content-font-color: #f2f2f299;
  --border-color: #f2f2f233;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

section {
  padding: 3.5rem 5rem;

  & > div {
    max-width: 1150px;
    margin: 0 auto;
  }
}

.whiteDot {
  height: 0.7rem;
  width: 0.7rem;
  background: #fff;
  border-radius: 50%;
  box-shadow: 0 0 20px #fff;
}
