.projectThumbnail {
  border-image: radial-gradient(
    circle farthest-side at 50% 0,
    #f2f2f233,
    #0000
  );
  box-shadow: inset 0 0 8px #0006, 0 0 60px #0003, 0 30px 120px #000c;
  border: 1px solid #f2f2f226;
  padding: 8px;
  border-radius: 24px;
  aspect-ratio: 1.85/1;
  position: relative;
  z-index: 5;

  & > .innerContainer {
    border: 1px solid #f2f2f244;
    width: 100%;
    height: 100%;
    border-radius: 16px;
    padding: 2rem;
    overflow: hidden;
    position: relative;
    transition: all linear 0.3s;

    & > .title {
      font-size: 1.7rem;
      font-weight: 500;
      color: var(--main-font-color);
    }

    & > .oneLiner {
      margin-top: 0.7rem;
      display: flex;
      align-items: center;
      gap: 5px;

      & > :nth-child(1) {
        color: var(--sub-title-font-color);
      }
    }

    & > img {
      height: calc(100% - 5rem);
      object-fit: contain;
      position: absolute;
      bottom: -5rem;
      left: 50%;
      transform: translate(-50%, 0%);
      transition: all linear 0.3s;
    }

    &:hover {
      border-color: #fff;
      background: radial-gradient(circle at 50% 0, #7fcfff33, #0000 80%),
        radial-gradient(circle at 50% 0, #035, #0000);

      & > img {
        bottom: -3rem;
      }
    }
  }
}
